@media screen and (min-width: 601px) {
  div.hero-text {
    font-size: 120px;
    text-align: center;
    position: absolute;
    font-family: 'Helvetica Neue';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}
@media screen and (max-width: 600px) {
  div.hero-text {
    font-size: 30px;
    text-align: center;
    position: absolute;
    font-family: 'Helvetica Neue';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}
.motto {
  font-size: 10px;
  font-family: 'Helvetica Neue';
}

.loginBox {
  width: 40%;
  border-color: lightgray;
  border-style: solid;
  padding: 10px;
  border-radius: 5%;
}

.loginTF {
}

.signUp {
  padding: 35px;
  flex-direction: 'column';
}

.cartContainer {
  padding: 40px;
}

.productContainer {
  height: 100%;
  padding: 10px;
}

.buttonContainer {
  display: 'flex';
  flex-direction: 'row';
  justify-content: 'space-around';
}

.searchToolbar {
  display: 'flex';
  justify-content: 'center';
}
.productTool {
  border-color: lightgray;
  border-style: solid;
  padding: 10px;
  border-radius: 2%;
  width: 750px;
  height: 650px;
}
.addDeleteProduct {
  display: flex;
  flex-direction: row;
  margin: 10px, 10px, 50px, 50px;
}
.productCreate {
  display: flex;
  width: 325px;
  height: 575px;
  flex-direction: column;
  margin: 20px;
  border-color: lightgray;
  border-style: solid;
  padding: 10px;
  border-radius: 5%;
}
.productDelete {
  display: flex;
  width: 325px;
  height: 575px;
  flex-direction: column;
  margin: 20px;
  border-color: lightgray;
  border-style: solid;
  padding: 10px;
  border-radius: 5%;
}
label {
  width: 200px;
  margin-right: 10px;
}

input {
  margin-left: 10x;
  padding: 1px;
  align-items: right;
  border-radius: 5px;
}

.mytext {
  width: 300px;
}
.file {
  position: relative;
  height: 40px;
  width: 100px;
}

.file > input[type='file'] {
  position: absoulte;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.file > label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #666;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
